<div class="row">
    <!-- left column -->
  <div class="col-md-10 offset-1">
  
    <!-- general form elements -->
    <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">{{title}} Cliente</h3>
        </div>

      <form (ngSubmit)="salvar()" [formGroup]="formulario">
        <div class="box-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" class="form-control"
                  formControlName="nome" #nome>

              <app-message [control]="formulario.get('nome')" error="required"
                  text="Item obrigatório" [element]="nome"></app-message>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="contato">Contato</label>
              <input type="text" id="contato" name="contato" class="form-control"
                  formControlName="contato" #contato>
              <app-message [control]="formulario.get('contato')" error="required"
                  text="Item obrigatório" [element]="contato"></app-message>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="contato">Data de Criação</label>
              <input type="text" id="dataCadastro" name="dataCadastro" class="form-control"
                  formControlName="dataCadastro" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="contato">Sinalizador</label>
              <input type="text" id="sinalizador" name="sinalizador" class="form-control"
                  formControlName="sinalizador" disabled>
            </div>
          </div>


          <div class="box-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>  
      </form>

    </div>
  </div>
</div>