<div >
  <a class="btn btn-success pull-right" [routerLink]="[ '/clientes/novo']">Adicionar</a>

</div>

<div>

  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Contato</th>
        <th scope="col">Data de cadastro</th>
        <th scope="col">Sinalizador</th>
        <th scope="col">Nota</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes;">
      <tr>
        <th>{{cliente.nome}}</th>
        <td>{{cliente.contato}}</td>
        <td>{{cliente.dataCadastro}}</td>
        <td>


            <span *ngIf="cliente.sinalizador >= 9" class="badge badge-success ajust-span">Promotor</span>
            <span *ngIf="cliente.sinalizador >= 7 && cliente.sinalizador < 9" class="badge badge-primary ajust-span">Neutros</span>
            <span *ngIf="cliente.sinalizador != '' && cliente.sinalizador >= 0 && cliente.sinalizador < 7" class="badge badge-danger ajust-span">Detratores</span>
            <span *ngIf="!cliente.sinalizador" class="badge badge-primary">-</span>
        
        </td>
        <td>
            {{cliente.sinalizador}}
        
        </td>
        <td>
          <div class="text-center">
            
            <a [routerLink]="['/clientes', cliente.id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            
            
            <a  (click)="deleteCliente(cliente)"  >
              <i class="fa fa-trash trash button-delete" aria-hidden="true"></i>
            </a>
            
            
          </div>
        </td>
      </tr>
      
    </tbody>
    <h2 *ngIf="clientes.length == 0">Carregando</h2>
  </table>
</div>