
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Home</a>
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <span class="ajust-navbar">|</span>

      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/clientes">Clientes<span class="sr-only">(current)</span></a>
      </li>
      <span class="ajust-navbar">|</span>

      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/avaliacoes/programadas">Avaliações programadas<span class="sr-only">(current)</span></a>
      </li>
      <span class="ajust-navbar">|</span>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/avaliacoes/nova">Agendar Avaliações<span class="sr-only">(current)</span></a>
      </li>
      <span class="ajust-navbar">|</span>

    </ul>
  </div>

</nav>
<div class="container container-fluid">
    <router-outlet></router-outlet>
</div>
